@font-face {
  font-family: "somethingwild";
  src: url("/public/fonts/somethingwild-Regular.woff");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: unset;
}
a:hover {
  color: unset;
}
[x-cloak] {
  display: none !important;
}
.card {
  color: white;
  /* background-color: #00000044; */
  background-color: transparent;
}

.capitalise {
  text-transform: capitalize;
}

/* background image */
.root {
  background: url("/public/img/bg.jpg") no-repeat top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  /* background-attachment: fixed; */
}
/* .root {
  background: url("../img/bg.jpg") no-repeat top;
  width: 100vw;
  height: 100vh;
  background-size: 100% auto;
} */

.btn-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.btn-container button {
  background-color: #00000055;
}

.btn-extra-text {
  display: none;
}
.btn-container button:hover .btn-extra-text {
  display: inline-block;
}

.btn-container img {
  width: 100%;
}
.dropdown-toggle::after {
  display: none;
}

.elementBtn {
  height: 70px;
  width: 70px;
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 50%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  position: relative;
}
.elementBtn img {
  border-radius: 50%;
}

.elementBtn:hover {
  scale: 1.05;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.6);
}

/* .elementBtn:hover::after {
  content: "Click Me";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  color: white;
  padding: 10px;
  top: 0;
  left: 0;
  text-align: center;
  font-weight: 600;
  height: 100%;
  width: 100%;
} */
.elementBtnText {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  color: white;
  text-align: center;
  font-weight: 600;
  height: 100%;
  width: 100%;
  padding-top: 1rem;
  text-shadow: 2px 2px black;
  background-color: rgba(0, 0, 0, 0.4);
  pointer-events: none;
}
.elementBtn:hover .elementBtnText {
  display: none;
}

#imgRight {
  width: 100%;
  pointer-events: none;
}
#close {
  cursor: pointer;
}
#tagline {
  font-family: "somethingwild";
  font-size: 2.68rem;
  /* margin-top: 3rem; */
}
.f_size1 {
  font-size: 3.3rem;
}
.f_size2 {
  font-size: 5.2rem;
}
.f_size3 {
  font-size: 3rem;
}

.carousel-item .card {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Utilities */
.bg-transparent {
  background-color: transparent;
}
.bg-space {
  background-color: #1f344355;
}
.bg-fire {
  background-color: #c0771855;
}
.bg-water {
  background-color: #0e86c155;
}
.bg-soil {
  background-color: #30a54655;
}
.bg-air {
  background-color: #aa805a55;
}
.l_height1 {
  line-height: 1;
}
#logo {
  width: 60px;
}

.carousel-item .card {
  min-height: 350px;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.offcanvas {
  width: 150px !important;
}

@media (max-width: 500px) {
  #container {
    display: flex;
    flex-direction: column-reverse;
  }
  .carousel-item .card {
    height: 373px;
  }
  .root {
    max-width: max-content;
  }

  .elementBtnContainer {
    flex-wrap: wrap;
  }
  .rightContainer {
    margin-top: 2rem;
  }
  .elementBtn {
    height: 45px;
    width: 45px;
  }
  #logo {
    width: 45px;
  }
  #tagline {
    font-size: 3rem;
    margin-top: 0;
  }
  .elementBtnText {
    font-size: 0.6rem;
  }
}
